body{
    background-color: aqua;
}
p{
    color: lawngreen;
    border: 1px solid salmon;
    background-color: brown;
}
h2{
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}
.dop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 250px;
    height: 125px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_text{
    color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;
}